<header >
 MIRACOLO
</header>
<h1 style="margin-left:50px;">Setting Goal</h1>
<div class="col-xm-12 col-md-12 col-lg-8">
<table>
  <tbody>
  <% @sub_objs.each do |sub_obj| %>
 <tr>
  <ul class="user-list">
  <li >
   <div class="img">
     <p style="font-size:30px; text-align:center; margin-top:55px;">
     <%= sub_obj.title %>
      </p>
    </div>
     <p>
     <%= sub_obj.text %>
    </p>
        <p> <td><%= sub_obj.limit %></p>
        <p> <%= link_to 'Show', sub_obj %>
            <%= link_to 'Edit', edit_sub_obj_path(sub_obj) %>
        </p>
   </li>
  </ul>
      </tr>
       <tr>
  <ul class="user-list">
  <li >
   <div class="img4" >
     <p style="font-size:30px; text-align:center; margin-top:55px;">
     <%= sub_obj.title %>
      </p>
    </div>
     <p>
     <%= sub_obj.text %>
    </p>
        <p> <td><%= sub_obj.limit %></p>
        <p> <%= link_to 'Show', sub_obj %>
            <%= link_to 'Edit', edit_sub_obj_path(sub_obj) %>
            <%= link_to '新しい目標', new_sub_obj_path %>
        </p>
   </li>
  </ul>
      </tr>
       <tr>
  <ul class="user-list">
  <li >
   <div class="img4" >
     <p style="font-size:30px; text-align:center; margin-top:55px;">
     <%= sub_obj.title %>
      </p>
    </div>
     <p>
     <%= sub_obj.text %>
    </p>
        <p> <td><%= sub_obj.limit %></p>
        <p> <%= link_to 'Show', sub_obj %>
            <%= link_to 'Edit', edit_sub_obj_path(sub_obj) %>
            <%= link_to '新しい目標', new_sub_obj_path %>
        </p>
   </li>
  </ul>
      </tr>
       <tr>
  <ul class="user-list">
  <li >
   <div class="img4" >
     <p style="font-size:30px; text-align:center; margin-top:55px;">
     <%= sub_obj.title %>
      </p>
    </div>
     <p>
     <%= sub_obj.text %>
    </p>
        <p> <td><%= sub_obj.limit %></p>
        <p> <%= link_to 'Show', sub_obj %>
            <%= link_to 'Edit', edit_sub_obj_path(sub_obj) %>
            <%= link_to '新しい目標', new_sub_obj_path %>
        </p>
   </li>
  </ul>
      </tr>
       <tr>
  <ul class="user-list">
  <li >
   <div class="img4" >
     <p style="font-size:30px; text-align:center; margin-top:55px;">
     <%= sub_obj.title %>
      </p>
    </div>
     <p>
     <%= sub_obj.text %>
    </p>
        <p> <td><%= sub_obj.limit %></p>
        <p> <%= link_to 'Show', sub_obj %>
            <%= link_to 'Edit', edit_sub_obj_path(sub_obj) %>
            <%= link_to '新しい目標', new_sub_obj_path %>
        </p>
   </li>
  </ul>
      </tr>
            <tr>
  <ul class="user-list">
  <li >
   <div class="img4" >
     <p style="font-size:30px; text-align:center; margin-top:55px;">
     <%= sub_obj.title %>
      </p>
    </div>
     <p>
     <%= sub_obj.text %>
    </p>
        <p> <td><%= sub_obj.limit %></p>
        <p> <%= link_to 'Show', sub_obj %>
            <%= link_to 'Edit', edit_sub_obj_path(sub_obj) %>
            <%= link_to '新しい目標', new_sub_obj_path %>
        </p>
   </li>
  </ul>
      </tr>
            <tr>
  <ul class="user-list">
  <li >
   <div class="img4" >
     <p style="font-size:30px; text-align:center; margin-top:55px;">
     <%= sub_obj.title %>
      </p>
    </div>
     <p>
     <%= sub_obj.text %>
    </p>
        <p> <td><%= sub_obj.limit %></p>
        <p> <%= link_to 'Show', sub_obj %>
            <%= link_to 'Edit', edit_sub_obj_path(sub_obj) %>
            <%= link_to '新しい目標', new_sub_obj_path %>
        </p>
   </li>
  </ul>
      </tr>
            <tr>
  <ul class="user-list">
  <li >
   <div class="img4" >
     <p style="font-size:30px; text-align:center; margin-top:55px;">
     <%= sub_obj.title %>
      </p>
    </div>
     <p>
     <%= sub_obj.text %>
    </p>
        <p> <td><%= sub_obj.limit %></p>
        <p> <%= link_to 'Show', sub_obj %>
            <%= link_to 'Edit', edit_sub_obj_path(sub_obj) %>
            <%= link_to '新しい目標', new_sub_obj_path %>
        </p>
   </li>
  </ul>
      </tr>
            <tr>
  <ul class="user-list">
  <li >
   <div class="img4" >
     <p style="font-size:30px; text-align:center; margin-top:55px;">
     <%= sub_obj.title %>
      </p>
    </div>
     <p>
     <%= sub_obj.text %>
    </p>
        <p> <td><%= sub_obj.limit %></p>
        <p> <%= link_to 'Show', sub_obj %>
            <%= link_to 'Edit', edit_sub_obj_path(sub_obj) %>
            <%= link_to '新しい目標', new_sub_obj_path %>
        </p>
   </li>
  </ul>
      </tr>
    <% end %>
  </tbody>
  
</table>
</div>
<br>
<div class="col-xm-12 col-md-12 col-lg-3">
   <div class="menu1 "></div>
    <div class="menu2 "></div>
     <div class="menu3 "></div>
     <p id="notice"><%= notice %></p>
</div>

 
</table>



