<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sub_obj.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @sub_obj.text %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @sub_obj.limit %>
</p>

<p>
  <strong>Main obj:</strong>
  <%= @sub_obj.main_obj_id %>
</p>

<%= link_to 'Edit', edit_sub_obj_path(@sub_obj) %> |
<%= link_to 'Back', sub_objs_path %>
