<%= form_for(user) do |f| %>

  <div class="field">
    <%= f.label :mail %>
    <%= f.text_field :mail %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_password :password %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
